In [1]:
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from selenium import webdriver
import requests as req
from splinter import browser
from selenium import webdriver

In [2]:
executable_path = {"executable_path":"chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [3]:
nasa_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_url)
time.sleep(1)

In [4]:
html = browser.html
soup = bs(html,"html.parser")

In [5]:
title = soup.find("div",class_="content_title").text
paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {title}")
print(f"Paragraph: {paragraph}")

Title: NASA to Host Media Call on Next Mars Landing Site
Paragraph: NASA will host a media teleconference at 9 a.m. PST (noon EST) Monday, Nov. 19, to provide details about the Mars 2020 rover’s landing site on the Red Planet.

In [6]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
time.sleep(1)

In [7]:
browser.find_by_css('a.button').click()

In [8]:
soup = bs(browser.html,'html.parser')
end = soup.find('img',class_='fancybox-image')['src']
JPL_image = "https://www.jpl.nasa.gov"+end
print(JPL_image)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA01322_ip.jpg

In [9]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
time.sleep(1)

In [10]:
html = browser.html
soup = bs(html,"html.parser")

In [11]:
tweet = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [12]:
print(tweet)

Sol 2230 (2018-11-14), high -5C/23F, low -72C/-97F, pressure at 8.59 hPa, daylight 06:22-18:39

In [13]:
fact_url = "http://space-facts.com/mars/"
browser.visit(fact_url)
time.sleep(1)

In [14]:
html = browser.html
soup = bs(html,"html.parser")

In [15]:
table = pd.read_html(fact_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
df_mars_facts = table[0]
df_mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
fact_html = df_mars_facts.to_html()
fact_html = fact_html.replace("\n", "")
fact_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [18]:
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(usgs_url)
time.sleep(1)

In [19]:
html = browser.html
soup = bs(html,"html.parser")

In [20]:
headers=[]
titles = soup.find_all('h3')

In [21]:
for title in titles:
    headers.append(title.text)

In [22]:
images=[]
count=0
for thumb in headers:
    browser.find_by_css('img.thumb')[count].click()
    images.append(browser.find_by_text('Sample')['href'])
    browser.back()
    count=count+1

In [23]:
hemisphere_image_urls = []
counter = 0
for item in images:
    hemisphere_image_urls.append({"title":headers[counter],"img_url":images[counter]})
    counter = counter+1